<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <unifiedcheckout>
                <active>1</active>
                <model>CyberSource\UnifiedCheckout\Model\Payment</model>
                <title>Unified Checkout</title>
                <test_mode>1</test_mode>
                <rest_key_value backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <cctypes>VI,MC,AE</cctypes>
            </unifiedcheckout>
        </payment>
    </default>
</config>
