<?xml version="1.0"?>
<!--
/**
 * Copyright © 2018 CyberSource. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    
    <!-- Configuration reader -->
    <type name="CyberSource\UnifiedCheckout\Gateway\Config\Config">
        <arguments>
            <argument name="pathPattern" xsi:type="const">Magento\Payment\Gateway\Config\Config::DEFAULT_PATH_PATTERN</argument>
            <argument name="methodCode" xsi:type="const">CyberSource\UnifiedCheckout\Model\Ui\ConfigProvider::CODE</argument>
        </arguments>
    </type>

    <virtualType name="UnifiedCheckoutCaptureContextRestClient" type="CyberSource\Core\Gateway\Http\Client\Rest">
        <arguments>
            <argument name="requestMethod" xsi:type="const">Magento\Framework\HTTP\ZendClient::POST</argument>
            <argument name="requestPath" xsi:type="string">/up/v1/capture-contexts</argument>
        </arguments>
    </virtualType>

    <type name="CyberSource\UnifiedCheckout\Controller\Index\Session">
        <arguments>
            <argument name="transferFactory" xsi:type="object">CyberSource\UnifiedCheckout\Gateway\Http\TransferFactory</argument>
            <argument name="builder" xsi:type="object">CyberSource\UnifiedCheckout\Helper\RequestDataBuilder</argument>
            <argument name="client" xsi:type="object">UnifiedCheckoutCaptureContextRestClient</argument>
            <argument name="validator" xsi:type="object">CyberSourceCoreGatewayValidatorRestCreateResponseCodeValidator</argument>
            <argument name="exceptionMessage" xsi:type="string">Failed to Initialize Unified Checkout</argument>
        </arguments>
    </type>
    <type name="CyberSource\UnifiedCheckout\Controller\Index\PlaceOrder">
        <arguments>
            <argument name="transferFactory" xsi:type="object">CyberSource\UnifiedCheckout\Gateway\Http\TransferFactory</argument>
            <argument name="builder" xsi:type="object">CyberSource\UnifiedCheckout\Helper\RequestDataBuilder</argument>
            <argument name="client" xsi:type="object">UnifiedCheckoutCaptureContextRestClient</argument>
            <argument name="validator" xsi:type="object">CyberSourceCoreGatewayValidatorRestCreateResponseCodeValidator</argument>
            <argument name="exceptionMessage" xsi:type="string">Failed to Initialize Unified Checkout</argument>
        </arguments>
    </type>
    
</config>