<?xml version="1.0"?>
<!--
/**
 * Copyright © 2018 CyberSource. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment"> 
            <group id="cybersource_section" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <group id="unified_checkout" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Unified Checkout</label>
                    <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="1">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/unifiedcheckout/active</config_path>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="1">
                        <label>Title</label>
                        <config_path>payment/unifiedcheckout/title</config_path>
                        <depends><field id="active">1</field></depends>
                    </field>
                    <field id="test_mode" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="0" showInStore="1">
                        <label>Test Mode</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/unifiedcheckout/test_mode</config_path>
                        <depends><field id="active">1</field></depends>
                    </field>
                    <field id="payment_action" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Payment Action</label>
                            <source_model>CyberSource\UnifiedCheckout\Model\Adminhtml\Source\PaymentAction</source_model>
                            <config_path>payment/unifiedcheckout/payment_action</config_path>
                            <depends><field id="active">1</field></depends>
                    </field>
                    <field id="cctypes" translate="label" type="multiselect" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                            <label>Credit Card Types</label>
                            <comment>Select Card Types</comment>
                            <source_model>CyberSource\Core\Model\Source\Cctype</source_model>
                            <config_path>payment/unifiedcheckout/cctypes</config_path>
                    </field>
                    <field id="enableDefaultMid" translate="label" sortOrder="3" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Use Default General MID</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/unifiedcheckout/use_default_mid</config_path>
                        <depends><field id="active">1</field></depends>
                    </field>
                    <field id="merchant_id" translate="label" type="text"  sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Merchant ID</label>
                        <validate>required-entry</validate>
                        <config_path>payment/unifiedcheckout/merchant_id</config_path>
                        <depends>
                            <field id="active">1</field>
                            <field id="enableDefaultMid">0</field>
                        </depends>            
                    </field>

                    <field id="rest_key_id" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Rest Key ID</label>
                        <config_path>payment/unifiedcheckout/rest_key_id</config_path>
                        <validate>required-entry</validate>
                        <depends>
                                <field id="active">1</field>
                                <field id="enableDefaultMid">0</field>
                        </depends>
                    </field>
                    <field id="rest_key_value" translate="label" type="obscure" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Rest Key Value</label>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                        <config_path>payment/unifiedcheckout/rest_key_value</config_path>
                        <validate>required-entry</validate>
                        <depends>
                                <field id="active">1</field>
                                <field id="enableDefaultMid">0</field>
                        </depends>
                    </field>
                    <field id="allowspecific" translate="label" type="allowspecific" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                        <label>Payment from Applicable Countries</label>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                        <config_path>payment/cybersourceklarna/allowspecific</config_path>
                        <depends><field id="active">1</field></depends>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="180" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                        <label>Payment from Specific Countries</label>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <config_path>payment/cybersourceklarna/specificcountry</config_path>
                        <depends><field id="active">1</field></depends>
                    </field>
                    <field id="locale" translate="label" type="select" sortOrder="110"  showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                            <label>Override Unified Checkout locale</label>
                            <source_model>CyberSource\UnifiedCheckout\Model\Adminhtml\Source\Locale</source_model>
                            <config_path>payment/unifiedcheckout/locale</config_path>
                            <comment>Leave the system default to use your store locale</comment>
                        </field>
                </group>
            </group>
        </section>
    </system>
</config>
